body {
    width: 100vw;
    height: 100vh;
}

header {
    width: 100%;
    height: 70px;
    background-color: black;
}

img {
    width: 70px;
    background-color: black;
    
}

.search-bar {
    width: 200px;
    padding-left: 10px;
    height: 40px;
    margin-top: 15px;
    margin-left: 30px;
}

.header-items {
    display: flex;
    width: 350px;
    margin-top: 35px;
    justify-content: space-between;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 40px;
}

header > div {
    display: flex;
    color: white;
    
}

.photo {
    width: 300px;
    height: 300px;
    border-radius: 150px;
    background-color: darkolivegreen;
    margin-left: 55px;
    margin-top: -550px;
    margin-bottom: 20px;
}

.subheader {
    display: flex;
    justify-content: space-evenly;
    width: 500px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 auto;
    /* margin-top: 100px; */
    font-size: 24px;
    padding: 30px;
    
}

.h1 {
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 75px;
    margin-top: 10px;
    
}

.h2 {
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    color: gray;
    margin-left: 75px;
    
}

.row{
    border: 0px solid black;
    display: flex;
    justify-content: flex-end;
    margin-right: 75px;
    
}

.box {
    border: 1px solid black;
    display: flex;
    box-sizing: border-box;
    width: 430px;
    height: 170px;
    justify-content: center;
    background-color: white;
    border-radius: 8px;
    margin: 5px 5px 5px 5px;
    
}

#text {
    font-family: Arial, Helvetica, sans-serif;
    color: slateblue;
    font-size: 20px;
    font-weight: bold;
    padding: 3%;
    justify-content: left;
}

button {
    width: 300px;
    height: 25px;
    background-color: lightgray;
    margin-left: 75px;
    border-radius: 12px;
    margin-top: 25px;
}
